# Logs
logs/*
.jsonl

# Python
*.egg-info
*.pot
*.py[co]
.tox/
__pycache__
MANIFEST
docs/_build/
docs/locale/
# dist/

# NodeJS
node_modules/
tests/coverage_html/
tests/.coverage
# build/
tests/report/

editor.main.js.map