[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true

[packages]
fastberry = "*"

[dev-packages]
build = "*"
isort = "*"
black = "*"
pylint = "*"
bandit = "*"
watchdog = "*"
pre-commit = "*"
