[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
motor = "*"
dbcontroller = "*"
sqlalchemy = "*"
databases = "*"

[dev-packages]
build = "*"
isort = "*"
black = "*"
pylint = "*"
watchdog = "*"
mkdocs = "*"
mkdocs-material = "*"
pre-commit = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
