[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
motor = "*"
sqlalchemy = "*"
databases = "*"
dbcontroller = "*"
fastapi = "*"
pydantic = "*"
strawberry-graphql = {extras = ["fastapi"], version = "*"}
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"

[dev-packages]
build = "*"
isort = "*"
black = "*"
pylint = "*"
bandit = "*"
watchdog = "*"
mkdocs = "*"
mkdocs-material = "*"
pre-commit = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
