.md-typeset__table {
    min-width: 100%;
 }
 
 .md-typeset table:not([class]) {
     display: table;
 }
 
.cool-text { 
    color: #cc00cc;
}

[data-ty="progress"] {
    width: 100% !important;
    overflow-wrap: break-all;
    overflow: hidden;
}

[data-termynal] > span {
    display: block;
}